* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #22223b;
}

.nav__menu {
  max-width: 100%;
  font-family: "Assistant";
  display: flex;
  flex-direction: row;
  margin: 30px;
  justify-content: flex-end;

  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.nav__list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}

.nav__list li {
  list-style: none;
}

.nav__menu a {
  font-size: 20px;
  text-shadow: 2px 2px 2px black;
  color: white;
  margin: 20px;
  text-decoration: none;
  font-weight: lighter;
  font-weight: 400;
}

.presentation {
  display: flex;
  margin-top: 80px;
  color: white;
  height: 500px;
  background-image: url("assets/coding1.svg");
  justify-content: center;
  background-position: center;
  flex-direction: row;
}

.presentation .imagen-mine {
  display: flex;
  align-content: space-around;
  flex-wrap: wrap;
  margin: 40px;

  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.presentation .imagen-mine img {
  border-radius: 45px;
  z-index: index;
  box-shadow: 3px 3px 8px black;
}

.presentation .content {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.presentation h3 {
  font-family: "Assistant";
  font-weight: 400;
  font-size: 40px;
  letter-spacing: 4px;
  text-shadow: 2px 2px 4px black;
  margin: 5px;
  font-weight: bold;
}

.presentation h4 {
  font-family: "Assistant";
  letter-spacing: 3px;
  color: #9a9db1;
  font-size: 26px;
  text-shadow: 2px 2px 4px black;
  margin: 7px;
}

.presentation .buttons {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 40px;
}

.presentation .buttons i {
  margin: 5px 5px;
}

.presentation .cv {
  margin: 13px;
  border-radius: 15px;
  background-color: #9a8c98;
  padding: 10px;
}

.presentation .buttons button {
  display: flex;
  color: white;
  text-shadow: 1px 1px 5px black;
  font-family: "Assistant";
  letter-spacing: 1px;
}

.presentation .buttons a {
  color: white;
  text-decoration: none;
}

.presentation .button-git,
.button-ld {
  font-size: 45px;
  margin: 10px;
  background-color: #4a4e69;
  border-radius: 5px;
  color: #ffffff;
}

hr {
  border: 1px solid #4a4e69;
  margin-top: 30px;
  height: 0;
}

.sobre-mi,
.cuadro1,
.cuadro2,
.parrafo-sobre p {
  font-family: Arial, Helvetica, sans-serif;
}

.sobre-mi {
  margin: -5em;
  margin-top: 4em;
  width: 65%;
  display: flex;
  height: 30em;
  flex-direction: column;
  align-items: center;
}

.sobre-mi .title h2 {
  font-family: "DM Serif Display";
  font-weight: 400;
  margin-bottom: 0.5em;
  font-size: 48px;
  color: #ffffff;
  display: flex;
  text-shadow: 1px 1px 5px black;
}

.sobre-mi .cuadro1,
.cuadro2 {
  background-color: #4a4e69;
  background-size: contain;
  border-radius: 12px;
  padding: 19px;
  margin: 11px;
  width: 20%;
}

.sobre-mi .cuadro1,
.cuadro2 h4,
p {
  color: white;
  font-size: 17px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
}
.sobre-mi p {
  margin-top: 11px;
}

.parrafo-sobre {
  width: 100%;
  max-width: 55em;
  line-height: 35px;
  display: inline-block;
  margin: -16em -32em 0 auto;
}

.parrafo-sobre p {
  font-size: 20px;
}

.conocimientos {
  display: flex;
  flex-flow: column wrap;
  align-content: space-around;
  align-items: center;
  height: auto;
  margin: 4em;
  flex-wrap: nowrap;
}

.conocimientos .titulo-conocimientos h2 {
  color: #ffffff;
  font-size: 55px;
  font-weight: 400;
  font-family: "DM Serif Display";
  text-shadow: 2px 2px 4px black;
  display: flex;
  justify-content: space-around;
}

.conocimientos .subtitulo {
  color: #9a9db1;
  margin-top: 1em;
  font-size: 25px;
  margin-bottom: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

.conocimientos .cuadro-conocimientos {
  background-color: #4a4e69;
  display: flex;
  height: 25em;
  width: 40em;
  border-radius: 25px;
  justify-content: center;
}

.conocimientos .cuadro-conocimientos .lista {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 10px;
  height: 23em;
  color: #ffffff;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-around;
  align-items: center;
}

.conocimientos .cuadro-conocimientos .lista i {
  font-size: 50px;
}

.conocimientos .cuadro-conocimientos .lista .card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.conocimientos .cuadro-conocimientos .lista label {
  color: #9a9db1;
  font-family: Arial, Helvetica, sans-serif;
  margin: 14px;
  font-size: 20px;
}

.proyectos {
  height: 30em;
}

.proyectos .proyecto-title h2 {
  color: #ffffff;
  font-size: 55px;
  font-weight: 400;
  margin: 30px;
  font-family: "DM Serif Display";
  text-shadow: 2px 2px 4px black;
  display: flex;
  justify-content: space-around;
}

.proyectos .card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
}

.proyectos .card-container {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.proyectos .card-container .card {
  background-color: #4a4e69;
  width: 261px;
  border-radius: 25px;
  height: 18em;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.proyectos .card-container .card img {
  border-radius: 15px;
}

.proyectos .card-container .card h4 {
  font-size: 20px;
  text-shadow: 1px 1px 6px black;
}

.proyectos .card-container .card .container {
  color: #ffffff;
  display: flex;
  margin: 5px;
  align-items: center;
  flex-direction: column;
}

.proyectos .card-container .card .seccion {
  padding: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.proyectos .card-container .card button {
  padding: 11px;
  border-radius: 10px;
  background-color: #22223b;
  color: #ffffff;
}

.proyectos .card-container .card i {
  font-size: 15px;
}

.proyectos .card-container .card a {
  color: #ffffff;
  text-decoration: none;
  padding: 20px;
  font-size: 18px;
}

.contacto {
  padding: 20px;
}

.contacto h2 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 400;
  font-family: "DM Serif Display";
  text-shadow: 2px 2px 4px black;
  display: flex;
  justify-content: space-around;
}

.contacto .container-contact {
  display: flex;
  padding: 4em;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

.contacto .card-container .botones {
  display: flex;
}

.contacto .container-contact .boton-wpp,
.boton-linkedIn {
  background-color: #4a4e69;
  width: 188px;
  border-radius: 15px;
  height: 8em;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin: 16px;
}

.contacto .container-contact i {
  text-shadow: 1px 1px 2px black;
}

.contacto .container-contact .botones p {
  font-weight: bold;
}

.contacto .container-contact a {
  color: #000;
}

.contacto .container-contact form {
  display: flex;
  flex-direction: column;
  padding: 14px;
  align-items: flex-start;
  border: #4a4e69;
  justify-content: space-between;
  height: 30em;
}

.contacto .container-contact input {
  display: flex;
  border-radius: 10px;
  border-color: #9a9db1;
  flex-direction: column;
  background: transparent;
  height: 50px;
  color: #ffffff;
  width: 18em;
  font-size: 18px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #a4a5b0;
}

.contacto .container-contact form p {
  font-size: 25px;
  color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 5px;
}

.contacto .container-contact textarea {
  display: flex;
  border-radius: 20px;
  border-color: #9a9db1;
  flex-direction: column;
  background: transparent;
  height: 93px;
  color: #000;
  font-size: 14px;
  border-radius: 12px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #a4a5b0;
}

.contacto .contacto-form button {
  background-color: #9a8c98;
  font-family: Arial;
  padding: 12px;
  width: 125px;
  font-size: 10px;
  border-radius: 12px;
  color: #ffffff;
  font-weight: bold;
}

.contacto .contacto-form .nombre-form {
  height: 44px;
}

footer {
  background-color: #f2e9e4;
  height: 20em;
  display: flex;
  color: rgb(0, 0, 0);
  font-family: "Assistant";
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
}

footer h2 {
  margin-top: 30px;
  letter-spacing: 12px;
}

footer .categorias-footer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

footer .categorias-footer a {
  margin: 1em;
  margin-top: 30px;
  color: #000;
  font-size: 18px;
}

footer .buttons-footer a {
  background-color: #c9ada7;
  font-size: 45px;
  margin: 23px;

  border-radius: 8px;
  color: #ffffff;
}

footer .buttons-footer i {
  margin: 5px 10px;
}

footer .buttons-footer {
  display: flex;
}

footer p {
  margin-top: 2em;
  color: #000;
}
